*
*/*/*
sb/*

# *.class
# *.out
# *.txt
# *.jar

# !*.*

!.git
!sb
!.clang-format
!.gitignore

!sb/*

# !*.c
!*.cpp
!*.java
*.js
*.py

!*/**.cpp
!*/**.java
!*/**.js
!*/**.py
!*/**.pyc

GitIgnore
ignore

.DS_Store
*/.DS_Store
